/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
} */
 @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin:0;
    .pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
}

#container {
    height: auto;
    width: 90%;
    /* border-style: solid; */
    /* background-color: grey; */
    margin: auto;
}

#header {
    height: 90px;
    background-color: white;
    padding: 15px;
    color: #008080;
    top: 0;
    position: sticky;
    z-index: 1;
}

#logo {
    height: 90px;
    width: 100px;
}

#heading {
    position: absolute;
    font-size: 32px;
    margin-left: 20px;
    margin-top: 27px;
}

#address {
    height: 100%;
    /* background-color: blue; */
    width: 200px;
    float: right;
    margin-top: 9px;
}

#nav {
    height: 48px;
    background-color: #008080;
    border-radius: 0px;
    top: 120px;
    position: sticky;
    box-shadow: 0px 2px 10px 1px white;
    z-index: 1;
}

#nav ul {
    list-style: none;
    padding-top: 11px;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 90px;
    font-size: 20px;
}

#nav ul li a:hover {
    color: orange;
}

#nav ul li ul {
    display: none;
}

#nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #008080;
    margin-top: -2px;
    width: 150px;
    margin-left: 350px;
    border-radius: 0px 20px 20px 20px;
}

#nav ul li ul li {
    margin-left: -75px;
    line-height: 35px;
    margin-right: 10px;
}

#bannerArea {
    height: 500px;
    /* background-color: green; */
    border-radius: 0px;
}

#bannerImg {
    height: 500px;
    width: 100%;
    border-radius: 0px;
}

#section {
    height: 210px;
    /* background-color: #008080;
    color:white; */
    background-color: white;
    padding: 40px;
    border-radius: 0px;
}

#section p {
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
}

#box {
    height: 400px;
    padding: 40px;
    background-color: #008080;
}

#box1 {
    height: 370px;
    float: left;
    width: 230px;
    margin: 45px;
    margin-top:20px;
    background-color: crimson;
}

#boxImage {
    height: 220px;
    background-color: blue;
   overflow: hidden;
}

#boxContent {
    height: 130px;
    text-align: justify;
    padding: 10px;
    background-color: white;
}

#boxImg {
    height: 220px;
    width: 100%;
}

#boxContent button {
    background-color: #008080;
    color: white;
    height: 30px;
    width: 190px;
    margin: 10px;
    border-width: 0px;
}

#boxContent button:hover {
    background-color: orange;
}

#boxImg:hover {
    transition: 2s;
    transform: scale(1.5);
    /* transform: rotate(360deg); */
}

#about {
    height: 400px;
    background-color: whitesmoke;
    padding: 40px;
}

#aboutImg {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-top: 10px;
    /* background-color: black; */
    float: left;
}

#aboutContent {
    height: 300px;
    width: 700px;
    float: right;
    margin-top: 25px;
    margin-left: 30px;
    padding: 25px;
     /* background-color: orange;  */
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
   gap: 30px;
}

#aboutImage {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#contact {
    height: 400px;
    padding: 40px;
    background-color: #008080;
}

#contactBox {
    height: 300px;
    width: 200px;
    margin: 38px;
    margin-top: 30px;
    float: left;
    padding: 10px;
    background-color: white;
}

#contactMBox {
    height: 320px;
    width: 310px;
    margin: 38px;
    margin-top: 30px;
    float: left;
}

iframe {
    height: 320px;
    width: 310px;
}

#contactBox ul li a {
    text-decoration: none;
    line-height: 35px;
    font-size: 18px;
    color: black;
}

#contact h1 {
    color: white;
}

#footer {
    padding: 10px;
    font-size: 18px;
}
#humber{
    height: 30px;
    display: none;
}
#hum{
    display: none;
}

/*###########################################
##########  Media Query #####################
#############################################*/

@media screen and (max-width:400px) {
    #container {
        height: auto;
        width: 90%;
        /* border-style: solid; */
        /* background-color: grey; */
        margin: auto;
    }

    #header {
        height: 60px;
        /* background-color: red; */
        padding: 5px;
        color: #008080;
        /* top: 0;
        position: sticky; */
        /* z-index: 1; */
    }

    #logo {
        height: 50px;
        width: 60px;
    }

    #heading {
        position: absolute;
        font-size: 24px;
        margin-left: 20px;
        margin-top: 12px;
    }

    #address {
        /* height: 100%; */
        /* background-color: blue; */
        /* width: 200px; */
        /* float: right; */
        /* margin-top: 9px; */
        display: none;
    }

    #nav {
        height: auto;
        background-color: #008080;
        border-radius: 0px;
        /* margin-top: -250px; */
        top: 60px;
        position: sticky;
        box-shadow: 0px 2px 10px 1px white;
        z-index: 1;
        padding: 5px;
    }

    #humber{
        display: block;
        margin-left: 320px;
    }
    #nav ul {
        list-style: none;
        padding-top: 11px;
        display: none;
    }

    #hum:checked ~ul{
        display: block;
    }
    #nav ul li {
        display: block;
    }

    #nav ul li a {
        color: white;
        text-decoration: none;
        margin-left: -10px;
        font-size: 16px;
        line-height: 30px;
    }

    #nav ul li a:hover {
        color: orange;
    }

    #nav ul li ul {
        display: none;
    }

    #nav ul li:hover ul {
        display: block;
        position: absolute;
        background-color: #008080;
        margin-top: -2px;
        width: 150px;
        margin-left: 270px;
        border-radius: 0px 20px 20px 20px;
    }

    #nav ul li ul li {
        margin-left: -45px;
        line-height: 35px;
    }

    #bannerArea {
        height: 260px;
        /* background-color: green; */
        border-radius: 0px;
    }

    #bannerImg {
        height: 260px;
        width: 100%;
        border-radius: 0px;
    }
    #section h1{
        font-size: 24px;
    }
    #section {
        height: 800px;
        /* background-color: #008080;
    color:white; */
        background-color: white;
        padding: 40px;
        border-radius: 0px;
    }

    #section p {
        font-size: 18px;
        text-align: justify;
        line-height: 24px;
    }

    #box {
        height: 1600px;
        padding: 40px;
        background-color: #008080;
    }

    #box1 {
        height: 370px;
        float: left;
        width: 230px;
        margin: 16px;
        background-color: crimson;
    }

    #boxImage {
        height: 220px;
        background-color: blue;
        overflow: hidden;
    }

    #boxContent {
        height: 130px;
        text-align: justify;
        padding: 10px;
        background-color: white;
    }

    #boxImg {
        height: 220px;
        width: 100%;
    }

    #boxContent button {
        background-color: #008080;
        color: white;
        height: 30px;
        width: 190px;
        margin: 10px;
        border-width: 0px;
    }

    #boxContent button:hover {
        background-color: orange;
    }

    #boxImg:hover {
        transition: 2s;
        transform: scale(1.5);
        /* transform: rotate(360deg); */
    }

    #about {
        height: 1200px;
        background-color: whitesmoke;
        padding: 25px;
    }

    #aboutImg {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 40px;
        /* background-color: black; */
        float: left;
        margin-left: 60px;
    }

    #aboutContent {
        height: 290px;
        width: 240px;
        float: left;
        margin-top: 30px;
        margin-left: 15px;
        padding: 20px;
        /* background-color: orange; */
        text-align: justify;
        font-size: 18px;
        line-height: 26px;
    }

    #aboutImage {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    #contact {
        height: 1460px;
        padding: 40px;
        background-color: #008080;
    }

    #contactBox {
        height: 300px;
        width: 200px;
        margin: 10px;
        margin-top: 30px;
        margin-left: 30px;
        float: left;
        padding: 10px;
        background-color: white;
    }

    #contactMBox {
        height: 320px;
        width: 220px;
        margin: 10px;
        margin-top: 30px;
        margin-left: 30px;
        float: left;
    }

    iframe {
        height: 320px;
        width: 220px;
    }

    #contactBox ul li a {
        text-decoration: none;
        line-height: 35px;
        font-size: 18px;
        color: black;
    }

    #contact h1 {
        color: white;
    }

    #footer {
        padding: 10px;
        font-size: 16px;
    }
}